<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample HTML</title>
</head>
<style>
    body {
        background: #fff;
        color: #111;
    }
    h1 {
        min-height: 1em;
        background: #343;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 1em;
        max-width: 15;
    }
</style>
<body>
    <header>
        <h1 style="color:#fff">Hi How are you</h1>
        <img src="src/001.jpg">
    </header>
    <section>
        <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aut maiores sit beatae labore fugit neque dolor eveniet cumque dolorum magni vero soluta eligendi necessitatibus non animi possimus, repellat amet.
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sapiente hic aliquid odio vitae magnam ea porro dolores adipisci sint, quasi quibusdam cumque fugiat, ut totam perspiciatis deleniti, exercitationem saepe.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non labore consequuntur cum vel nostrum exercitationem vitae nam, pariatur rerum. Tempora adipisci distinctio et iste possimus, obcaecati eveniet vitae ullam ex!
        </p>
        <p>
            Lorem
            <a href="https://www.lipsum.com/"> Lorem ipsum</a>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dignissimos eius nam, dolorem voluptatem est aliquam voluptatum molestias, ab atque perspiciatis dolorum maxime doloribus reiciendis qui fuga quis beatae laborum?
        </p>
    </section>
</body>
</html>